#me {
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    margin-bottom: 4px;
    object-fit: cover;
}

#name {
    font-size: 36px;
}

.sub {
    font-size: 20px;
    color: gray;
    line-height: 30px;
}

.inline {
    position: absolute;
    margin-left: -40px;
    margin-top: 2px;
    height: 25px;
}