#me {
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    margin-bottom: 4px;
    object-fit: cover;
}

#name {
    font-size: 36px;
}

.sub {
    font-size: 20px;
    color: gray;
    line-height: 30px;
}

.inline {
    margin-top: 6px;
    height: 25px;
    margin-right: 5px;
}

table, td {
    margin-left: auto;
    margin-right: auto;
}

.rowlink::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: -45px;
    width: 130px;
    height: 1.5em;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: blue;
}