body {
  margin: 0 0 0 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#disp {
  margin-left: 5%;
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.left-aligned {
  text-align: left;
  margin-left: calc(50% - 250px);
}

a, a:link, a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: purple;
}
