body {
  margin: 0 0 0 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#disp {
  margin: 5% 5% 5% 5%;
  position: absolute;
  width: 90%;
  text-align: center;
}

.left-aligned {
  text-align: left;
  margin-left: calc(50% - 250px);
}

a, a:link, a:visited {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

a:hover {
  color: purple;
}

.ico {
  font-size: 30px;
  color: black;
  margin-right: 10px;
}
